# Trigger WiFi power save when AC/battery status changes
SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/usr/local/bin/wifi-powersave.sh"
SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/usr/local/bin/wifi-powersave.sh"
